@import url('https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.bg-card {
	@apply bg-white dark:bg-gray-950;
}

/* Custom NProgress styles */
#nprogress .bar {
	background: #29d !important; /* Blue color like GitHub */
	height: 3px !important; /* Make it slightly thicker */
	z-index: 1031 !important; /* Ensure it&apos;s above most elements */
}

#nprogress .peg {
	box-shadow: 0 0 10px #29d, 0 0 5px #29d !important; /* Matching glow */
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(135deg, #818cf8 40%, #a78bfa 80%, #34d399 100%);
	border-radius: 8px;
	min-height: 40px;
}
::-webkit-scrollbar-track {
	background: rgba(120, 113, 255, 0.06);
	border-radius: 8px;
}
::-webkit-scrollbar-corner {
	background: transparent;
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #818cf8 #f3f4f6;
}

@media (prefers-color-scheme: dark) {
	::-webkit-scrollbar-thumb {
		background: linear-gradient(135deg, #6366f1 40%, #8b5cf6 80%, #10b981 100%);
	}
	::-webkit-scrollbar-track {
		background: rgba(49, 46, 129, 0.12);
	}
	* {
		scrollbar-color: #6366f1 #18181b;
	}
}

.auth-img {
	/* @apply hidden lg:block w-1/2 h-screen bg-cover bg-center; */
	position: relative;
	background-image: url('/images/hero.png');
	background-size: cover;
	background-position: center;
}
.auth-img::before {
	content: '';
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.75); /* semi-transparent black overlay */
	pointer-events: none;
}

.auth-img > * {
	z-index: 2;
}
